/* Background CSS File 
	===================
	Item Name: Valuation - Modern slider pricing tables.
	Author: Ashishmaraviya
	Version: 1.0
	Copyright 2020
===================*/
.package_sec .owl-item.active.center .package_block {
	background-image: url('../img/plan-bg-img.jpg') !important;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, .8);
}