/* Color CSS File 
	===================
	Item Name: Valuation - Modern slider pricing tables.
	Author: Ashishmaraviya
	Version: 1.0
	Copyright 2020
===================*/
.package_sec .owl-item.active.center .package_block, .package_sec .buy_btn, .package_sec.package_inn .package_block.select {
	background: #f46731;
}
.package_sec .owl-carousel .owl-dot.active span {
	background: #f46731;
}
.package_sec .owl-carousel .owl-dot span, .package_sec .package_block {
	border: 1px solid #f46731;
}
.package_sec .package_block h3 {
	color: #f46731;
}
.package_sec .owl-item.active.center .package_block .buy_btn {
	background: #f46731;
	border: 1px solid #fff;
	box-shadow: none;
}
.package_sec .buy_btn:hover {
	background-color: #fff;
	border: 1px solid #f46731;
    color: #f46731;
	box-shadow: none;
}
.package_sec .owl-item.active.center .package_block h3 {
	color: #f4c1ad;
}
.package_sec .owl-carousel .owl-nav button.owl-prev:hover,
.package_sec .owl-carousel .owl-nav button.owl-next:hover {
	color: #fff !important;
	background: #f46731 !important;
	border-color: #f46731;
}
.package_sec .owl-carousel .owl-nav button.owl-prev,
.package_sec .owl-carousel .owl-nav button.owl-next {
	color: #f46731 !important;
	background: #fff !important;
	border-color: #f46731 !important;
}