/* Color CSS File 
	===================
	Item Name: Valuation - Modern slider pricing tables.
	Author: Ashishmaraviya
	Version: 1.0
	Copyright 2020
===================*/
.package_sec .owl-item.active.center .package_block, .package_sec .buy_btn, .package_sec.package_inn .package_block.select {
	background: #c9634d;
}
.package_sec .owl-carousel .owl-dot.active span {
	background: #c9634d;
}
.package_sec .owl-carousel .owl-dot span, .package_sec .package_block {
	border: 1px solid #c9634d;
}
.package_sec .package_block h3 {
	color: #c9634d;
}
.package_sec .owl-item.active.center .package_block .buy_btn {
	background: #c9634d;
	border: 1px solid #fff;
	box-shadow: none;
}
.package_sec .buy_btn:hover {
	background-color: #fff;
	border: 1px solid #c9634d;
    color: #c9634d;
	box-shadow: none;
}
.package_sec .owl-item.active.center .package_block h3 {
	color: #fcc4b8;
}
.package_sec .owl-carousel .owl-nav button.owl-prev:hover,
.package_sec .owl-carousel .owl-nav button.owl-next:hover {
	color: #fff !important;
	background: #c9634d !important;
	border-color: #c9634d;
}
.package_sec .owl-carousel .owl-nav button.owl-prev,
.package_sec .owl-carousel .owl-nav button.owl-next {
	color: #c9634d !important;
	background: #fff !important;
	border-color: #c9634d !important;
}