/* Main Style CSS File 
	===================
	Item Name: Valuation - Modern slider pricing tables.
	Author: Ashishmaraviya
	Version: 1.0
	Copyright 2020
===================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

/** [00. General css] **/
body {
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
a {
	outline: none !important;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover,
a:focus,
select:focus,
button:focus {
	outline: none;
	text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
}
img {
	border: none;
	vertical-align: middle;
	width: 100%;
}
li {
	list-style: none;
}
p{
	letter-spacing: .01rem;
}
h1, h2, h3, h4, h5, h6,
input,
select,
textarea,
button {
	outline: none !important;
	font-family: 'Poppins', sans-serif;
}
section {
	padding: 70px 0;
}
.setting-icon {
	padding: 10px;
	animation: setting-spin 2s infinite linear;
}
@-webkit-keyframes setting-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes setting-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.section_bg{
	background: #f8f8f8;
}
.global_title {
	margin-bottom: 40px;
	color: #333;
}
.color-picker {
	position: fixed;
	right: -190px;
	top: 100px;
	width: 190px;
	z-index: 99;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.color-picker .settings-header {
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#444));
	background: linear-gradient(to right, #777, #444);
	padding: 5px 15px;
}
.color-picker .settings-header h3 {
	color: #fff;
	margin: 0;
	font-size: 20px;
	text-align: center;
	padding: 4px 9px;
}
.color-picker .section {
	background: #fff;
	padding: 20px;
	border: 1px solid #444;
	overflow: auto;
}
.color-picker .section i {
	font-size: 16px;
	margin-right: 10px;
}
.color-picker a.handle {
	position: absolute;
    right: 190px;
    width: 50px;
    height: 43px;
    color: #fff;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 25px;
    z-index: -1;
    text-decoration: none;
	background: linear-gradient(to right, #777, #444);
    top: 0;
}
.color-picker .colors a {
	width: 35px;
	height: 35px;
	margin: 7px 7px;
	float: left;
	-webkit-transition: all ease-in 0.3s;
	transition: all ease-in 0.3s;
}
.color-picker .skin a {
	display: block;
	width: 70px;
	height: 30px;
	margin-left: 0;
	margin-top: 0;
	margin-right: 5px;
	float: left;
	text-align: center;
	line-height: 30px;
	border: 2px transparent solid;
}
.color-1{
	background: #4c3bb3;
}
.color-2{
	background: #5076db;
}
.color-3{
	background: #f46731;
}
.color-4{
	background: #2eb04c;
}
.color-5{
	background: #c9634d;
}
.color-6{
	background: #646464;
}
.color-picker .skin a.actt {
	border: 2px #fff solid;
}
.setting-link {
	margin-top: 10px;
	display: block;
	color: #555;
}
.setting-link:hover {
	margin-left: 5px;
	color: #777;
}
/** [01. Pricing Package css] **/
.package_sec {
	width: 100%;
	margin: 0;
	background-color: #fff;
    position: relative;
    overflow: hidden;
}
.package_sec .inner {
	width: 100%;
	margin: -8px 0 0 0;
	padding: 0;
	position: relative;
	z-index: 98;
}
.package_sec .package_block {
	width: 100%;
	margin: 0;
	padding: 25px 30px;
	background: #fff;
	border-radius: 15px;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.package_sec .package_block h3 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	font-weight: 500;
}
.package_sec .package_block .price {
	display: block;
	margin: 10px 0;
	padding: 0;
	font-size: 45px;
	font-family: 'Poppins', sans-serif;
	color: #555;
	font-weight: 700;
	position: relative;
	z-index: 2;
}
.package_sec .package_block .price small {
	font-size: 16px;
	color: #959599;
	font-weight: 300;
}
.package_sec .buy_btn {
	margin: 13px 0 5px 0;
	padding: 8px 30px;
	display: inline-block;
	color: #fff;
	border: 1px solid transparent;
	box-shadow: 0px 4px 15px 10px #e9e9e9;
	border-radius: 30px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.package_sec .package_block.first {
	border-radius: 10px 0 0 10px;
}
.package_sec .package_block.last {
	border-radius: 0 10px 10px 0;
}
ul.package_list {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
	text-align: center;
}
ul.package_list li {
	margin: 0 8px 15px 0;
	display: block;
	font-size: 14px;
	color: #797979;
	position: relative;
	font-weight: 300;
}
ul.package_list li i {
	font-size: 12px;
	margin-right: 5px;
}
ul.package_list li span {
	color: #555;
	font-weight: 600;
}
.package_sec .owl-item.active.center {
	position: relative;
	z-index: 999;
}
.package_sec .owl-item.active.center:before {
	content: "";
	height: 90px;
	background: url(../img/package_dot.png) top center no-repeat;
	position: absolute;
	bottom: 5px;
	left: -30px;
	right: -30px;
	background-size: 100% 100%;
}
.package_sec .owl-item.active.center .package_block {
	width: 98%;
	padding: 25px 30px;
	margin: auto;
	background-image: url('../img/plan-bg.png');
	background-size: cover;
	border: 0;
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.package_sec .owl-item.active.center .package_block .price {
	color: #fff;
}
.package_sec .owl-item.active.center .package_block .price small {
	color: #fff;
	opacity: 0.7
}
.package_sec .owl-item.active.center .package_block ul.package_list li {
	color: #eee;
}
.package_sec .owl-item.active.center .package_block ul.package_list li:before {
	color: #fff;
}
.package_sec .owl-item.active.center .package_block ul.package_list li span {
	color: #fff;
}
.package_sec .owl-item.active.center .radial-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.package_sec .owl-item.active.center .radial-out:hover {
	background: #fff;
	color: #000;
}
.package_sec .owl-carousel.owl-drag .owl-item {
	padding: 30px 0 40px 0;
}
.package_sec .owl-carousel .owl-dots {
	width: 100%;
	margin: 32px 0 -5px 0;
	padding: 0;
	text-align: center;
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}
.package_sec .owl-carousel .owl-dot {
	margin: 0 5px;	
	display: inline-block;
}
.package_sec .owl-carousel .owl-dot span {
	width: 11px;
	height: 11px;
	display: block;
	border-radius: 10px;
	opacity: 0.5;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.package_sec .owl-carousel .owl-dot.active span {
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.package_sec .owl-carousel .owl-nav button.owl-prev,
.package_sec .owl-carousel .owl-nav button.owl-next {
	width: 40px;
	height: 38px;
	font-size: 0;
	display: block;
	position: absolute;
	top: -38px;
	margin-top: -22px;
	background-color: #fff;
	z-index: 555;
	border: 1px solid #fff;
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.package_sec .owl-carousel .owl-nav button.owl-prev {
	right: 42px;
	border-radius: 10px 0 0 10px;
}
.package_sec .owl-carousel .owl-nav button.owl-prev:after {
	content: "\21BC";
	font-family: 'FontAwesome';
	font-size: 25px;
}
.package_sec .owl-carousel .owl-nav button.owl-next {
	right: 0px;
	border-radius: 0 10px 10px 0;
}
.package_sec .owl-carousel .owl-nav button.owl-next:after {
	content: "\21C0";
	font-family: 'FontAwesome';
	font-size: 25px;
}