/* Background CSS File 
	===================
	Item Name: Valuation - Modern slider pricing tables.
	Author: Ashishmaraviya
	Version: 1.0
	Copyright 2020
===================*/
.package_sec .package_block {
	border-radius: 0 !important;
}